@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}

.card-poke:hover .img-poke {
  transform: scale(1.1) rotate(12deg);
}

.bg-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  animation: sliding 2s infinite linear;
}

@keyframes sliding {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 130vw);
  }
}
