@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b3b3b;
}

.card-poke:hover .img-poke {
  transform: scale(1.1) rotate(12deg);
}

.bg-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  animation: sliding 20s infinite linear;
}

@keyframes sliding {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
